@model IEnumerable<Sistema.Model.ReporteEntregado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Articulo.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Articulo.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </td>
        <td>

            @Html.ActionLink("Edit", "Edit", new { id = item.IdEntrega }) 
            
            @*
        @Html.ActionLink("Details", "Details", new { id = item.IdEntrega }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.IdEntrega })
            *@
        </td>
    </tr>
}

</table>
