@model IEnumerable<Sistema.Model.Usuario>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Crear un nuevo usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrasenia)
        </th>
        <th>
            @Html.DisplayName("Rol")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contrasenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idUsuario })
            @*|
        @Html.ActionLink("Details", "Details", new { id=item.idUsuario }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.idUsuario })
                
                *@
        </td>
    </tr>
}

</table>
