@model IEnumerable<Sistema.Model.Categoria>

@{
    ViewBag.Title = "Lista de Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear una nueva categoria de articulo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdCategoria })

            @*|
        @Html.ActionLink("Details", "Details", new { id=item.IdCategoria }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.IdCategoria })
            *@
        </td>
    </tr>
}

</table>
