<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sistema de Seguridad", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (Session["Rol"].Equals("1"))
                        {
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Gestion de categorias", "Index", "Categorias")</li>
                            <li>@Html.ActionLink("Gestion de Usuarios", "Index", "GestionUsuario")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Usuario")</li>
                        }
                        else if (Session["Rol"].Equals("2"))
                        {
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Mis articulos", "Index", "Articulo")</li>
                            <li>@Html.ActionLink("Reporte extravio", "Index", "ReporteExtravio")</li>
                            <li>@Html.ActionLink("Articulos Entregados", "Index", "ReporteEntregado")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Usuario")</li>
                        }
                        else if (Session["Rol"].Equals("3"))
                        {
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Mis articulos", "Index", "Articulo")</li>
                            <li>@Html.ActionLink("Reporte extravio", "Index", "ReporteExtravio")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Usuario")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Usuario", "Usuario")</li>
                        }
                    }



                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
