@model IEnumerable<Sistema.Model.ReporteExtravio>

@{
    ViewBag.Title = "Reportes de Extravio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo reporte de extravio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayName("Nombre del Contacto")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreContacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </td>
        <td>
            @*
            @Html.ActionLink("Edit", "Edit", new { id=item.IdReporte }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdReporte }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdReporte })
            *@
        </td>
    </tr>
}

</table>
